<div class="container-fluid">
  <h2>Receitas</h2>
  <div class="flex-row">
  <% @recipes.each do |recipe| %>
    <div class="media">
      <div class="media-left media-middle">
        <img class="media-object" src="http://www.ilovealabamafood.com/wp-content/uploads/2011/12/dish-detail-bouillabaisse.png" alt="<%= recipe.title %>">
      </div>
      <div class="media-body">
        <h4 class="media-heading recipe-title">
          <%= link_to recipe.title, recipe_path(recipe) %>
        </h4>
        <dl class="dl-horizontal">
          <dt>Tipo de Receita</dt>
          <dd><%= recipe.kind.name %></dd>
          <dt>Cozinha</dt>
          <dd><%= recipe.cuisine.name %></dd>
          <dt>Dificuldade</dt>
          <dd><%= recipe.difficulty %></dd>
        </dl>
      </div>
    </div>
  <% end %>
  </div>
</div>
