<% provide(:title, @recipe.title) %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<section id="recipe">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <h2>
          <%= @recipe.title %>
          <p>
            <% if @recipe.user == current_user %>
              <%= link_to edit_recipe_url @recipe do %>
                <%= fa_icon 'edit', text: "editar", right: true %>
              <% end %>&nbsp;|&nbsp;
              <%= link_to @recipe, method: 'delete',
                  data: {confirm: 'Tem certeza de que deseja excluir essa receita?'} do %>
                <%= fa_icon 'trash-o', text: "apagar", right: true  %>
              <% end %>
            <% else %>
              Enviado por <%= link_to @recipe.user.name, user_url(@recipe.user) %>
              <%= render 'favorite_form' if logged_in?%>
            <% end %>
          </p>
          <% if @recipe.followers.any? %>
            <p id="favorite_counter">
              <%= @recipe.followers.size %> curtidas
            </p>
          <% end %>
        </h2>
        <dl class="dl-horizontal">
          <dt>Tipo</dt>
          <dd><%= @recipe.kind.name %></dd>
          <dt>Cozinha</dt>
          <dd><%= @recipe.cuisine.name %></dd>
          <dt>Serve</dt>
          <dd id='portions-value'>
            <%= @recipe.portions %> pessoas</dd>
          <dt>Tempo de preparo</dt>
          <dd id='preptime-value'>
            <%= @recipe.prep_time %> minutos</dd>
          <dt>Dificuldade</dt>
          <dd><%= @recipe.difficulty %></dd>
        </dl>
      </div>
      <div class="col-md-7">
        <div id="ilustration">
          <% if @recipe.picture.ilustration.file.exists? %>
            <%= image_tag @recipe.picture.ilustration %>
          <% elsif @recipe.picture.small.file.exists? %>
            <%= image_tag @recipe.picture.small %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h2>Ingredientes</h2>
        <p>
          <%= markdown @recipe.ingredients %>
        </p>
      </div>
      <div class="col-md-7">
        <h2>Modo de preparo</h2>
        <p>
          <%= markdown @recipe.directions %>
        </p>
      </div>
    </div>
  </div>
</section>
