<% provide(:title, @recipe.title) %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<section id="recipe">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <h2>
          <%= @recipe.title %>
            <% if @recipe.user == current_user %>
              <p>
                <%= link_to edit_recipe_url @recipe do %>
                  <%= fa_icon 'edit', text: "editar", right: true %>
                <% end %>&nbsp;|&nbsp;
                <%= link_to @recipe, method: 'delete',
                    data: {confirm: 'Tem certeza de que deseja excluir essa receita?'} do %>
                  <%= fa_icon 'trash-o', text: "apagar", right: true  %>
                <% end %>
              </p>
            <% else %>
              <div class="row">
                <div class="col-sm-6">
                  <p>
                    Enviado por <%= link_to @recipe.user.name, user_url(@recipe.user) %>
                  </p>
                </div>
                <div class="col-sm-6">
                  <%= render 'favorite_form' if logged_in?%>
                </div>
              </div>
            <% end %>
        </h2>
        <dl class="dl-horizontal">
          <dt>Tipo</dt>
          <dd><%= @recipe.kind.name %></dd>
          <dt>Cozinha</dt>
          <dd><%= @recipe.cuisine.name %></dd>
          <dt>Serve</dt>
          <dd id='portions-value'>
            <%= @recipe.portions %> pessoas</dd>
          <dt>Tempo de preparo</dt>
          <dd id='preptime-value'>
            <%= @recipe.prep_time %> minutos</dd>
          <dt>Dificuldade</dt>
          <dd><%= @recipe.difficulty %></dd>
        </dl>
      </div>
      <div class="col-md-7">
        <div id="ilustration">
          <% if !@recipe.picture.ilustration.file.nil? %>
            <%= image_tag @recipe.picture.ilustration %>
          <% elsif !@recipe.picture.small.file.nil? %>
            <%= image_tag @recipe.picture.small %>
          <% else %>
           <img class="media-object"
            src="http://ridgecrest-ca.gov/uploadedImages/Departments/Admin/noImageAvailable.jpg"
            alt="<%= @recipe.title %>">
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h2>Ingredientes</h2>
        <p>
          <%= markdown @recipe.ingredients %>
        </p>
      </div>
      <div class="col-md-7">
        <h2>Modo de preparo</h2>
        <p>
          <%= markdown @recipe.directions %>
        </p>
      </div>
    </div>
  </div>
</section>
