<section>

  <h2>Nova Cozinha</h2>

  <hr>

  <%= form_for @cuisine do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="actions form-group">
      <%= f.button class:'btn btn-success' do %>
        <%= icon 'plus', 'Criar Cozinha' %>
      <% end %>
    </div>
  <% end %>

</section>
