<% provide(:title, 'Nova cozinha') %>
<section>

  <h2>Nova Cozinha</h2>

  <hr>

  <%= form_for @cuisine do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="actions form-group">
      <%= f.button class:'btn btn-success' do %>
        <%= fa_icon 'plus lg', text: 'Criar Cozinha' %>
      <% end %>
    </div>
  <% end %>

</section>
