<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email, 'E-mail' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :city, 'Cidade' %>
    <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :twitter, 'Twitter' %>
    <%= f.text_field :twitter, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :facebook, 'Facebook' %>
    <%= f.text_field :facebook, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Senha' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmar senha" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit yield(:button_text), class:'btn btn-success'%>
  </div>
<% end %>
