<% provide(:title, @user.name) %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>

<h2><%= "Perfil de #{@user.name}" %></h2>
<%= link_to @user.email, @user.email %>
<p><%= @user.city %></p>
<p>
  <%= link_to 'Facebook', '#' %> |
  <%= link_to 'Twitter',  '#'  %>
</p>

<h3>Receitas de <%= @user.name %></h3>

<div class="container-fluid">
  <div class="flex-row">
    <%= render @recipes %>
  </div>
</div>
