<% provide(:title, @user.name) %>

<h1><%= "Perfil de #{@user.name}" %></h1>
<%= link_to @user.email, @user.email %>
<p><%= @user.city %></p>
<p>
  <%= link_to 'Facebook', @user.facebook %> |
  <%= link_to 'Twitter',  @user.twitter  %>
</p>

<h2>Receitas de <%= @user.name %></h2>

<div class="container-fluid">
  <div class="flex-row">
    <%= render @recipes %>
  </div>
</div>
