<header>
  <nav class="navbar navbar-fixed-top", role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Social Recipe", '#',  id: "logo", class:'navbar-brand' %>
      </div>
      <div class="collapse navbar-collapse">
        <%= form_tag search_recipes_path, method: :get, class:'navbar-form navbar-left' do %>
          <div class="input-group">
            <span class="input-group-addon"><%= fa_icon 'search' %></span>
            <%= text_field_tag :search, params[:search], class:'form-control',
                  placeholder: 'O que temos pra hoje?' %>
          </div>
          <%= submit_tag 'buscar', class:'btn btn-primary' %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Inicio", recipes_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Minhas receitas", my_recipes_url %></li>
            <li><%= link_to "Cadastrar receitas", new_recipe_url %></li>
            <li class="dropdow">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                <%= fa_icon "caret-down", text: "#{current_user.name}", right: true %>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Ver Perfil", user_url(current_user) %>
                </li>
                <li>
                  <%= link_to "Editar perfil", edit_user_url(current_user) %>
                </li>

                <li role="separator" class="divider"></li>

                <li>
                  <%= link_to "Sair", logout_path, method: 'delete' %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Entrar", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
