<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:200,300,400,700,900" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div class="container">
        <%= render 'layouts/flash' %>
        <div class="row">
          <div class="col-md-2 col-sm-3">
            <%= yield :sidebar %>
          </div>
          <div class="col-md-10 col-sm-9">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render 'layouts/footer' %>
    <!-- <%= render 'layouts/debug' %> -->
  </body>
</html>
